{% extends 'base.html' %} 

{% block title %} Destination Feed {% endblock %}

<link rel="stylesheet" href="/static/style.css">

{% block content %} 

<h1>Hello {{g.user.username}}</h1>

<table>
    <div>
        <thead>
            <tr>
                <th>
                    Add Destination
                </th>
                <th class="tableCell">
                    Country
                </th>
                <th class="tableCell">
                    Capital
                </th>
                <th class="tableCell">
                    Region
                </th>
                <th class="tableCell">
                    Subregion
                </th>
                <th class="tableCell">
                    Population
                </th>
            </tr>
        </thead>
        <tbody id="destArea">
            {% for country in countries %}
            <tr>
                <td class="buttonCell">
                    {% if country.name.common in myDestinations %}
                    <button id="button_{{country.ccn3}}" class='added'>Add Destination</button>
                    {% else %}
                    <button id="button_{{country.ccn3}}" class='notAdded'>Add Destination</button>
                    {% endif %}
                </td>
                <td id="country_{{country.ccn3}}" class=".tableCell">
                    {{country.name.common}}
                </td>
                <!-- Unable to take brackets out of capital. -->
                <td id="capital_{{country.ccn3}}" class=".tableCell">
                    {% if country.capital %}
                    {{country.capital}}
                    {% endif %}
                </td>
                <td id="region_{{country.ccn3}}" class=".tableCell">
                    {{country.region}}
                </td>
                <td id="subregion_{{country.ccn3}}" class=".tableCell">
                    {{country.subregion}}
                </td>
                <td id="population_{{country.ccn3}}" class=".tableCell">
                    {{country.population}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </div>
</table>
<script src="static/dest.js"></script>

{% endblock %}