{% extends 'base.html' %} 

{% block title %} Homepage {% endblock %}

{% block content %} 
<div>
    <h1 class="title">Welcome to Worldly!</h1>

    {% if g.user %}
    <ul class="list">
        <li><a href="/destFeed" class="navAnchor">Check out cool destinations!</a></li>
        <li><a href="/trivia" class="navAnchor">Test your trivia knowledge!</a></li>
    </ul>

    {% else %} 

    <ul class="list">
        <li class="navAnchor"><a href="/login">Login</a></li>
        <li class="navAnchor"><a href="/signup">Signup</a></li>
    </ul>

    {% endif %}
    </div>

{% endblock %}