#verificationContainer {
    background-color: rgba(34, 33, 33, 0.412);
    position: fixed;
    width: 100vw;
    height: 100%;
}

#verificationWindow {
    background-color: white;

    width: 70%;
    height: 50%;
}

.destContainer {
    display: none;
}

#playButton {
    color: #ffffff;
    background-color:#790386;
    font-weight: 500;
    font-size: large;

    margin-bottom: 5%;
}

#playButton:hover {
    background-color:#da00f2;
}

#destFeed:hover {
    background-color:#da00f2;
}

.questionContainer {
    text-align: center;
    margin: auto;
    width: 100%;
}

.gameTable {
    background-color: rgba(199, 199, 199, 0.83);
    border: solid black 2px;
    width: 60vw;
    height: 40vh;
    align-self: center;
    margin: auto;

    table-layout: fixed;
}

.tableRow {
    justify-content: space-evenly;
    display:inline-flexbox;
    align-content: center;
}

.answerContainer {
    align-items: center;
    align-content: center;

    width: 50%;
}

.answerButton {
    background-color: aqua;
    margin: auto;

    width:100%;
    height: 100%;
}

.answerButton:hover {
    background-color: rgb(5, 176, 176);
}
