<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Base {% endblock %}</title>

    <script src="static/base.js"></script>
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/popper"></script>
    <script src="https://unpkg.com/bootstrap"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="/static/styleTwo.css">
    
</head>
<body>
    <nav class="navbar navbar-expand">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="/" class="navbar-brand">
              <!-- <img src="/static/images/logo" alt="logo"> -->
              <span class="title">Worldly</span>
            </a>
          </div>
          <ul class="nav navbar-nav navbar-right">

            {% if not g.user %}
            <li>
              <button id="signup" class="btn">
                <a href="/signup" class="navAnchor">
                  Sign up
                </a>
              </button>
            </li>
            <span class="seperator">|</span>
            <li>
              <button id="login" class="btn">
                <a href="/login" class="navAnchor">
                  Log in
                </a>
              </button>
            </li>
            {% else %}
            <li>
              <a href="/update/{{ g.user.id }}" class="navAnchor">
                {{ g.user.username }}
              </a>
            </li>
            <span>|</span>
            <li>
              <button id="myBoard" class="btn">
                <a href="/myBoard" class="navAnchor">
                  My Board
                </a>
              </button>
              <span>|</span>
            </li>
            <li>
              <button id="logout" class="btn">
                <a href="/logout" class="navAnchor">
                  Log out
                </a>
              </button>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
      <div class="container">
    <!-- <nav>
        <ul>
            <li>
                {% if session[CURR_USER_KEY] %}
                <a href="/logout">Logout</a>
            </li>
            <li>
                <a href="/home">Home</a>
            </li>
            <li>
                <a href=""></a>
            </li>
            {% else %} 
            <li>
                <a href="/login">Login</a>
                <span>|</span>
                <a href="/signup">Register</a>
            </li>
            {% endif %} 
        </ul>
    </nav> -->
      <div class="contentContainer">
        {% block content %} 

        {% endblock %}
        {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
      {% endfor %}
      </div>
    </div>
</body>
</html>